{{- if .Values.gateway.enabled }}
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: gateway-default
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "openchoreo-data-plane.componentLabels" (dict "context" . "component" "gateway") | nindent 4 }}
  {{- if and .Values.gateway.tls.enabled .Values.gateway.tls.clusterIssuer }}
  annotations:
    cert-manager.io/cluster-issuer: {{ .Values.gateway.tls.clusterIssuer }}
  {{- end }}
spec:
  gatewayClassName: kgateway
  listeners:
    - name: http
      protocol: HTTP
      port: {{ .Values.gateway.httpPort | default 80 }}
      allowedRoutes:
        namespaces:
          from: All
    - name: https
      protocol: HTTPS
      port: {{ .Values.gateway.httpsPort | default 443 }}
      {{- if .Values.gateway.tls.hostname }}
      hostname: {{ .Values.gateway.tls.hostname | quote }}
      {{- end }}
      allowedRoutes:
        namespaces:
          from: All
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: {{ .Values.gateway.tls.certName }}
            namespace: {{ .Release.Namespace }}
{{- end }}
