# Helm values for OpenChoreo Control Plane in k3d multi-cluster setup
# Note: devMode adds :8080 to URLs (k3d port mapping), disables HTTPS

global:
  baseDomain: openchoreo.localhost
  devMode: true
